---
import Layout from './../layouts/Layout.astro';
---

<Layout>
    <h1 class="text-2xl font-bold mb-4 mt-6">About</h1>
    <p>
       Sophie Drury (Ngāti Maniapoto, Ngāti Pikiao, Ngāti Ranginui, P̄ākehā) is an early-career Takatāpui artist curator based in Tāmaki Makarau. They work with a variety of materials and mediums to conceptualise their work, with focus on painting. They use mediums such as dyes, oil pastels, and oil paints.
        Their art draws heavily on oral traditions, such as fables, fairy tales, and similar stories, focusing on the recurring tropes within these stories and reinterpreting them in a painted form. 
        They explore the significance of storytelling as a medium and how it can be revitalised through the act of exploration and reimagining in a contemporary context.
    </p>

    <h2 class="text-1xl font-bold mb-1 mt-6">Education:</h2>
    <p>
        Bachelor of Fine Arts (2025) at Elam, University of Auckland
    </p>

    <h2 class="text-1xl font-bold mb-1 mt-6">Selected Exhibitions:</h2>
    <ul class="space-y-2">
        <li>
            <span class="italic">Elam Artists Graduate Show</span> (2025)
        </li>

        <li>
           <span class="italic">Queer Pictures: 40th Anniversary</span>, Elam Project Space, Auckland (2025) 
        </li>

        <li>
            <span class="italic">Intaglio, Relief, Planar</span>, Elam Project Space, Auckland (2025)
        </li>

        <li>
            <span class="italic">Seeing & Knowing</span>, Elam Project Space, Auckland, (2025)
        </li>
    </ul>

    <h2 class="text-1xl font-bold mb-1 mt-6">Press/Text:</h2>
    <ul class="space-y-2">
        <li>Various Artists w/ Sof and Maya: the Elam Graduate Show Special, Interview, 2025</li>
        <li><span class="italic">Delve</span>, Ophis Press, publication (2025)</li>
    </ul>
</Layout>