
<footer class="text-center mt-12">
    <div class="flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 md:space-x-6 text-sm text-stone-400">
        <div>Instagram: <a href="https://www.instagram.com/soph.drury/ ">@soph.drury</a></div>
        <div>Email: <a href="mailto:sophiedrury24@gmail.com">sophiedrury24@gmail.com</a></div>
        <div>Phone: 021 064 9941</div>
    </div>
    <p class="mt-8 text-sm text-stone-400">&copy; {new Date().getFullYear()} Sophie Drury.</p>
</footer>