---
const links = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
  { name: "Contact", href: "/contact" },
];
---

<nav class="text-stone-900 relative">
    <div class="mx-auto py-4 flex items-center justify-between">
        <a href="/" class="text-xl font-bold">
            Sophie Drury
        </a>

        <button
            id="nav-open"
            class="md:hidden text-2xl focus:outline-none cursor-pointer"
            aria-label="Open menu"
            aria-expanded="false"
        >
            ☰
        </button>

        <ul class="hidden md:flex gap-6 text-stone-500">
            {links.map(link => (
                <li>
                    <a href={link.href} class="hover:text-stone-900">
                        {link.name}
                    </a>
                </li>
            ))}
        </ul>
    </div>

    <div
        id="nav-overlay"
        class="fixed inset-0 bg-black/40 opacity-0 pointer-events-none transition-opacity md:hidden"
    >
    </div>

    <aside
        id="mobile-nav"
        class="fixed top-0 right-0 h-full w-full bg-white shadow-lg
            translate-x-full transition-transform duration-300
            md:hidden z-50"
    >
 
        <div class="flex justify-between items-center p-8">
            <span></span>
            <button
                id="nav-close"
                class="text-2xl cursor-pointer text-stone-900"
                aria-label="Close menu"
            >
                ✕
            </button>
        </div>
            

        <ul class="flex flex-col gap-12 p-2 ml-4 text-stone-500 items-center">
        {links.map(link => (
            <li>
                <a
                    href={link.href}
                    class="block text-2xl hover:text-stone-900"
                >
                    {link.name}
                </a>
            </li>
        ))}
        </ul>
    </aside>
</nav>


<script>
    const openBtn = document.getElementById("nav-open");
    const closeBtn = document.getElementById("nav-close");
    const mobileNav = document.getElementById("mobile-nav");
    const overlay = document.getElementById("nav-overlay");

    function openMenu() {
        if (mobileNav && overlay) {
            mobileNav.classList.remove("translate-x-full");
            overlay.classList.remove("opacity-0", "pointer-events-none");
            openBtn?.setAttribute("aria-expanded", "true");
        }
    }

    function closeMenu() {
        if (mobileNav && overlay) {
            mobileNav.classList.add("translate-x-full");
            overlay.classList.add("opacity-0", "pointer-events-none");
            openBtn?.setAttribute("aria-expanded", "false");
        }
    }

    openBtn?.addEventListener("click", openMenu);
    closeBtn?.addEventListener("click", closeMenu);
    overlay?.addEventListener("click", closeMenu);
</script>

